 body{
 width:100vw;height:100vh;padding:0;margin:0;background-color:rgb(220,225,230);color:rgb(0,100,220);
 font-family:Exo;font-weight:500;display:flex;align-items:center;
 }
 
 .uc{
 display:flex;
 text-align:center;
 }
